<div>
  <h2>Add new Degree</h2>
  <form #userForm="ngForm" (ngSubmit)="addDegree()" novalidate>
    {{ userForm.value | json}}<br>
    {{ newDegreeModel | json}}
  <div>
      <span>Add student's id: </span>
      <input type="text" name="id" [(ngModel)]="newDegreeModel.id">
  </div>
  <div>
      <span>Add student's department: </span>
      <input type="text" name="department" [(ngModel)]="newDegreeModel.department">
  </div>
  <div>
      <span>Add student's organization: </span>
      <input type="text" name="organization" [(ngModel)]="newDegreeModel.organization">
  </div>
  <div>
      <span>Add degree's title: </span>
      <input type="text" name="title" [(ngModel)]="newDegreeModel.title">
  </div>
  <div>
      <span>Add Student's grade: </span>
      <input type="text" name="grade" [(ngModel)]="newDegreeModel.grade">
  </div>
  <div>
      <span>Add degree's eqf: </span>
      <input type="text" name="eqf" [(ngModel)]="newDegreeModel.eqf">
  </div>
  <div>
      <span>Add degree's year: </span>
      <input type="text" name="year" [(ngModel)]="newDegreeModel.year">
  </div>
  <div>
      <span>Add secretary's username: </span>
      <input type="text" name="secr" [(ngModel)]="newDegreeModel.secr">
  </div>

  <button type="submit" name="button">Add new Degree</button>
  </form>



</div>
