<header>
  <h1>{{title}}</h1>
    <ul>
      <li><a href="#" routerLink="/student-query">Student</a></li>
      <li><a href="#" routerLink="/secretary-query">Secretary</a></li>
      <li><a href="#" routerLink="/recruiter-query">Recruiter</a></li>
      <li><a href="#" routerLink="/secretary-register-student">Register</a></li>
      <li><a href="#" routerLink="/secretary-add-student">Add new Student</a></li>
      <li><a href="#" routerLink="/secretary-add-degree">Add new Degree</a></li>
      <li><a href="#" routerLink="/student-add-permission">Add new Permission</a></li>
      <li><a href="#" routerLink="/student-remove-permission">Remove permission</a></li>
    </ul>

</header>

<router-outlet></router-outlet>
