<div>
  <h2>Add new student</h2>
  <form #userForm="ngForm" (ngSubmit)="addStudent()" novalidate>
    {{ userForm.value | json}}<br>
    {{ newStudentModel | json}}
  <div>
      <span>Add student's name: </span>
      <input type="text" name="name" [(ngModel)]="newStudentModel.name">
  </div>
  <div>
      <span>Add student's lastname: </span>
      <input type="text" name="lastname" [(ngModel)]="newStudentModel.lastname">
  </div>
  <div>
      <span>Add student's id: </span>
      <input type="text" name="id" [(ngModel)]="newStudentModel.id">
  </div>
  <div>
      <span>Add secretary's id: </span>
      <input type="text" name="secrUsername" [(ngModel)]="newStudentModel.secr">
  </div>


  <button type="submit" name="button">Add new student</button>
  </form>



</div>
